body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    text-align: center;
    background-color: #00ffd5;
    padding: 100px 60px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    padding: 30px 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-info {
    margin-bottom: 20px;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: #0080ff;
}
    #video-fondo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
           }

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los iconos */
    margin: 20px 0;
}

.icon {
    width: 40px; 
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación al pasar el mouse */
}

/* Efecto al pasar el mouse sobre los iconos */
.icon:hover {
    transform: scale(1.1); /* Escala el icono */
    opacity: 0.8; /* Reduce ligeramente la opacidad */
}